:root {
  --deepBlue: #22254b;
  --blueChalk: #373b69;
}

body {
  background: linear-gradient(111.34deg, var(--deepBlue) 0, var(--deepBlue) 100%);
}

.container {
  background-color: var(--blueChalk);
  padding: 15px;
}

.profile-view {
  border: .3px solid grey;
  border-radius: 15px;
  box-shadow: 5px 5px 5px grey;
  padding:30px
}

.navbar{
  height: 80px;
}

.color-nav{
background-color: var(--blueChalk);
}

.logo {
  color: white;
}

.link-text{
   font-size: 23px;
}




